.comps-dates {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  .comps-dates {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
  }
}
